/***
 *     _____                           _ 
 *    |  __ \                         | |
 *    | |  \/ ___ _ __   ___ _ __ __ _| |
 *    | | __ / _ \ '_ \ / _ \ '__/ _` | |
 *    | |_\ \  __/ | | |  __/ | | (_| | |
 *     \____/\___|_| |_|\___|_|  \__,_|_|
 *                                       
 *                                       
 */

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

#waybar {
  font-family: "OpenDyslexicNerdFont", "HackNerdFont";
  font-size: 14;
  color: @text;
  background: @crust;
}

.modules-left {
  color: @text;
  background: @surface0;
}

.modules-center {
  color: @text;
  background: @crust;
}

.modules-right {
  color: @text;
  background: @surface0;
}

tooltip {
  border-radius: 12px;
}

/***
 *    ___  ___          _       _           
 *    |  \/  |         | |     | |          
 *    | .  . | ___   __| |_   _| | ___  ___ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/
 *                                          
 *                                          
 */

#custom-arch,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot,
#privacy-item,
#systemd-failed-units,
#workspaces button,
#mpris,
#clock,
#user,
#window,
#pulseaudio,
#network,
#backlight,
#battery,
#cpu,
#disk,
#memory,
#tray {
}

#custom-arch:hover,
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#privacy-item:hover,
#systemd-failed-units,
#workspaces button:hover,
#workspaces button:hover *,
#mpris:hover,
#clock:hover,
#window:hover,
#window:hover *,
#user:hover,
#user:hover *,
#pulseaudio:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#cpu:hover,
#disks:hover *,
#memorys:hover *,
#tray * :hover,
#tray * :hover > *:not(menu),
#tray * :hover > * > *:not(menu) {
  background: @mauve;
  color: @crust;
}

/***
 *    ___  ___          _       _             _           __ _   
 *    |  \/  |         | |     | |           | |         / _| |  
 *    | .  . | ___   __| |_   _| | ___  ___  | |     ___| |_| |_ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __| | |    / _ \  _| __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \ | |___|  __/ | | |_ 
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/ \_____/\___|_|  \__|
 *                                                               
 *                                                               
 */

#powers {
  background: @blue;
  color: @crust;
}

#powers * > * > * {
  padding: 0 10px;
}

#powers #custom-arch {
  padding: 0 10px;
}

#privacy-item {
  background: @blue;
  color: @crust;
}

#systemd-failed-units {
  background: @blue;
  color: @crust;
  padding: 0 10px;
}

#systemd-failed-units.degraded {
  background-color: @red;
  color: @crust;
}

#custom-triangle-left-blue {
  min-width: 18px;
  background-color: @surface0;
  background-image: url("./images/triangle-left-blue.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

#workspaces {
}

#workspaces button {
}

#workspaces button.urgent {
  background-color: @red;
  color: @crust;
}

#mpris {
}

#custom-triangle-left-surface0 {
  min-width: 18px;
  background-color: @crust;
  background-image: url("./images/triangle-left-surface0.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/***
 *    ___  ___          _       _             _____            _            
 *    |  \/  |         | |     | |           /  __ \          | |           
 *    | .  . | ___   __| |_   _| | ___  ___  | /  \/ ___ _ __ | |_ ___ _ __ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __| | |    / _ \ '_ \| __/ _ \ '__|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \ | \__/\  __/ | | | ||  __/ |   
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/  \____/\___|_| |_|\__\___|_|   
 *                                                                          
 *                                                                          
 */

#clock {
}

#window {
}

#user {
}

/***
 *    ___  ___          _       _            ______ _       _     _   
 *    |  \/  |         | |     | |           | ___ (_)     | |   | |  
 *    | .  . | ___   __| |_   _| | ___  ___  | |_/ /_  __ _| |__ | |_ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __| |    /| |/ _` | '_ \| __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \ | |\ \| | (_| | | | | |_ 
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/ \_| \_|_|\__, |_| |_|\__|
 *                                                     __/ |          
 *                                                    |___/           
 */

#custom-triangle-right-surface0 {
  min-width: 18px;
  background-color: @crust;
  background-image: url("./images/triangle-right-surface0.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#pulseaudio {
}

#pulseaudio.muted {
  color: @red;
}

#network.disconnected {
  background-color: @red;
  color: @crust;
}

#network {
}

#backlight {
}

#battery {
}

#battery.critical {
  background-color: @red;
  color: @crust;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @crust;
  }
}

#battery.critical:not(.charging) {
  background-color: @base;
  color: @text;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: steps(21);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#stats {
}

#stats #cpu {
}

#custom-triangle-right-blue {
  min-width: 18px;
  background-color: @surface0;
  background-image: url("./images/triangle-right-blue.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#tray {
  background: @blue;
  color: @crust;
}

#tray menu {
  color: @text;
  background: @base;
  padding: 0;
}

#tray * {
  border-radius: 12px;
  border: 0;
}

#tray > .passive {
  color: @text;
}

#tray > .needs-attention {
  color: @red;
}
