/***
 *     _____                           _ 
 *    |  __ \                         | |
 *    | |  \/ ___ _ __   ___ _ __ __ _| |
 *    | | __ / _ \ '_ \ / _ \ '__/ _` | |
 *    | |_\ \  __/ | | |  __/ | | (_| | |
 *     \____/\___|_| |_|\___|_|  \__,_|_|
 *                                       
 *                                       
 */

* {
  font-family: "OpenDyslexic", "FontAwesome";
  font-weight: 900;
  font-size: 14px;
  color: #aaf;
  background: rgba(0, 0, 0, 0);
}

tooltip {
  border-radius: 12px;
  background: #1e1e2e;
}

#tray menu {
  border-radius: 12px;
  background: #1e1e2e;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/***
 *    ___  ___          _       _           
 *    |  \/  |         | |     | |          
 *    | .  . | ___   __| |_   _| | ___  ___ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/
 *                                          
 *                                          
 */

#workspaces button,
#backlight,
#battery,
#clock,
#keyboard-state,
#mpris,
#network,
#privacy-item,
#pulseaudio,
#temperature,
#tray,
#wireplumber,
#custom-arch,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  background: rgba(34, 34, 34, 0.75);
  padding: 0 10px;
  border: 0;
}

#workspaces button:hover,
#backlight:hover,
#battery:hover,
#clock:hover,
#keyboard-state:hover,
#mpris:hover,
#network:hover,
#privacy-item:hover,
#pulseaudio:hover,
#temperature:hover,
#wireplumber:hover,
#custom-arch:hover,
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
  background: rgba(68, 74, 87, 1);
}

/***
 *    ___  ___          _       _             _           __ _   
 *    |  \/  |         | |     | |           | |         / _| |  
 *    | .  . | ___   __| |_   _| | ___  ___  | |     ___| |_| |_ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __| | |    / _ \  _| __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \ | |___|  __/ | | |_ 
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/ \_____/\___|_|  \__|
 *                                                               
 *                                                               
 */

#custom-arch {
  border-radius: 12px;
}

#custom-power {
  border-radius: 12px 0 0 12px;
  margin-left: 5px;
}

#custom-reboot {
  border-radius: 0 12px 12px 0;
}

#privacy-item {
  border-radius: 12px;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  background: rgba(0, 0, 0, 0);
  border-radius: 12px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mpris {
  border-radius: 12px;
  margin-right: 5px;
}

/***
 *     _____                         _____ _        _       
 *    |  __ \                       /  ___| |      | |      
 *    | |  \/_ __ ___  _   _ _ __   \ `--.| |_ __ _| |_ ___ 
 *    | | __| '__/ _ \| | | | '_ \   `--. \ __/ _` | __/ __|
 *    | |_\ \ | | (_) | |_| | |_) | /\__/ / || (_| | |_\__ \
 *     \____/_|  \___/ \__,_| .__/  \____/ \__\__,_|\__|___/
 *                          | |                             
 *                          |_|                             
 */

#disk,
#cpu,
#memory {
  background: rgba(0, 0, 0, 0);
  padding: 0 10px;
  border: 0;
}

#stats {
  background: rgba(34, 34, 34, 0.75);
  border-radius: 12px;
}

#stats:hover {
  background: rgba(68, 74, 87, 1);
}

#cpu,
#memorys {
  border-left: 2px solid rgba(0, 0, 0, 1);
}

/* -------- */

/* #backlight { */
/*   color: #f8efe6; */
/* } */

/* #battery { */
/*   color: #c2d5a8; */
/* } */

#battery.critical {
  color: white;
  background: #f7768e;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  border-radius: 12px;
}

/* #keyboard-state { */
/*   color: #000000; */
/* } */

/* #keyboard-state > label { */
/*   padding: 0 5px; */
/* } */

/* #keyboard-state > label.locked { */
/*   background: rgba(0, 0, 0, 0.2); */
/* } */

/* #network { */
/*   color: #f0d5ba; */
/* } */

/* #network.disconnected { */
/*   color: #f53c3c; */
/* } */

#pulseaudio {
  border-radius: 12px 0 0 12px;
  /* color: #bad5f0; */
}

/* #pulseaudio.muted { */
/*   color: #90b1b1; */
/* } */

/* #temperature { */
/*   color: #f0932b; */
/* } */

/* #temperature.critical { */
/*   color: #eb4d4b; */
/* } */

/* --------------------------------------------------- */

/* label:focus { */
/*   background-color: #000000; */
/* } */

/* #wireplumber { */
/*   background-color: #fff0f5; */
/*   color: #000000; */
/* } */

/* #wireplumber.muted { */
/*   background-color: #f53c3c; */
/* } */
