* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "OpenDyslexic", FontAwesome;
  font-weight: 900;
  font-size: 14px;
  color: #c0caf5;
}

/* button { */
/*   /1* Use box-shadow instead of border so the text isn't offset *1/ */
/*   box-shadow: inset 0 -3px transparent; */
/*   /1* Avoid rounded borders under each button name *1/ */
/*   border: none; */
/*   border-radius: 0; */
/* } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*   background: inherit; */
/*   box-shadow: inset 0 -3px #ffffff; */
/* } */

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*   background-color: #a37800; */
/* } */

tooltip {
  background: #1e1e2e;
}

/***
 *     _    _ _           _                 _                
 *    | |  | (_)         | |               | |               
 *    | |  | |_ _ __   __| | _____      __ | |__   __ _ _ __ 
 *    | |/\| | | '_ \ / _` |/ _ \ \ /\ / / | '_ \ / _` | '__|
 *    \  /\  / | | | | (_| | (_) \ V  V /  | |_) | (_| | |   
 *     \/  \/|_|_| |_|\__,_|\___/ \_/\_/   |_.__/ \__,_|_|   
 *                                                           
 *
 * https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#window */

#window {
  border-radius: 12px;
  margin: 0 4px;
}

window#waybar {
  background: rgba(21, 22, 80, 0);
  /* background-color: rgba(43, 48, 59, 0.5); */
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  /* color: #ffffff; */
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
}

/* window#waybar.hidden { */
/*   opacity: 0.2; */
/* } */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite { */
/* background-color: #3f3f3f; */
/* } */

/* window#waybar.chromium { */
/* background-color: #000000; */
/* border: none; */
/* } */

/***
 *     _    _            _                                  
 *    | |  | |          | |                                 
 *    | |  | | ___  _ __| | _____ _ __   __ _  ___ ___  ___ 
 *    | |/\| |/ _ \| '__| |/ / __| '_ \ / _` |/ __/ _ \/ __|
 *    \  /\  / (_) | |  |   <\__ \ |_) | (_| | (_|  __/\__ \
 *     \/  \/ \___/|_|  |_|\_\___/ .__/ \__,_|\___\___||___/
 *                               | |                        
 *                               |_|                        
 * https://github.com/Alexays/Waybar/wiki/Module:-Hyprland#workspaces */

#workspaces {
  border-radius: 12px;
  margin-right: 4px;
}

#workspaces button {
  padding: 0 10px;
  border-bottom: 2px solid #000000;
  margin-bottom: 2px;
  /* background-color: transparent; */
  /* color: #ffffff; */
}

/* #workspaces button:hover { */
/*   background: rgba(0, 0, 0, 0.2); */
/* } */

#workspaces button.active {
  /* background-color: #64727d; */
  /* box-shadow: inset 0 -3px #ffffff; */
  border-bottom: 2px solid #7aa2f7;
  border-radius: 0;
  margin-bottom: 2px;
}

/* #workspaces button.urgent { */
/*   background-color: #eb4d4b; */
/* } */

/***
 *    ___  ___          _       _           
 *    |  \/  |         | |     | |          
 *    | .  . | ___   __| |_   _| | ___  ___ 
 *    | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
 *    | |  | | (_) | (_| | |_| | |  __/\__ \
 *    \_|  |_/\___/ \__,_|\__,_|_|\___||___/
 *                                          
 *                                          
 */

/* /1* If workspaces is the leftmost module, omit left margin *1/ */
/* .modules-left > widget:first-child > #workspaces { */
/*   margin-left: 0; */
/* } */

/* /1* If workspaces is the rightmost module, omit right margin *1/ */
/* .modules-right > widget:last-child > #workspaces { */
/*   margin-right: 0; */
/* } */

#backlight,
#battery,
#cpu,
#clock,
#disk,
#keyboard-state,
#mpris,
#memory,
#network,
#tray,
#temperature,
#pulseaudio,
#wireplumber,
#custom-arch,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-playerctl {
  background: rgba(38, 44, 57, 0.7);
  /* background: rgba(255, 255, 255, 0.7); */
  padding: 0 12px;
  border: 0;
}

#backlight {
  color: #f8efe6;
}

#battery {
  color: #c2d5a8;
  border-radius: 0 12px 12px 0;
}

#battery.critical {
  color: white;
  background: #f7768e;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #cpu { */
/*   color: #e3a7c0; */
/* } */

#clock {
  border-radius: 12px;
}

/* #disk { */
/*   color: #964b00; */
/* } */

#keyboard-state {
  /* background: #97e1ad; */
  color: #000000;
  /* padding: 0 0px; */
  /* margin: 0 5px; */
  /* min-width: 16px; */
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

/* #memory { */
/*   color: #9b59b6; */
/* } */

#network {
  color: #f0d5ba;
}

#network.disconnected {
  color: #f53c3c;
}

/* --------------------------------------------------- */

#tray {
  border-radius: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#pulseaudio {
  border-radius: 12px 0 0 12px;
  color: #bad5f0;
  /* background-color: #f1c40f; */
  /* color: #000000; */
}

/* #pulseaudio.muted { */
/*   background-color: #90b1b1; */
/*   color: #2a5c45; */
/* } */

/* label:focus { */
/*   background-color: #000000; */
/* } */

/* #wireplumber { */
/*   background-color: #fff0f5; */
/*   color: #000000; */
/* } */

/* #wireplumber.muted { */
/*   background-color: #f53c3c; */
/* } */

/* #temperature { */
/*   background-color: #f0932b; */
/* } */

/* #temperature.critical { */
/*   background-color: #eb4d4b; */
/* } */

/* #privacy { */
/*   padding: 0; */
/* } */

/* #privacy-item { */
/*   padding: 0 5px; */
/*   color: white; */
/* } */

/* #privacy-item.screenshare { */
/*   background-color: #cf5700; */
/* } */

/* #privacy-item.audio-in { */
/*   background-color: #1ca000; */
/* } */

/* #privacy-item.audio-out { */
/*   background-color: #0069d4; */
/* } */

/***
 *     _____           _                  
 *    /  __ \         | |                 
 *    | /  \/_   _ ___| |_ ___  _ __ ___  
 *    | |   | | | / __| __/ _ \| '_ ` _ \ 
 *    | \__/\ |_| \__ \ || (_) | | | | | |
 *     \____/\__,_|___/\__\___/|_| |_| |_|
 *                                        
 *                                        
 */

#custom-arch {
  border-radius: 12px;
}

#custom-power {
  margin-left: 5px;
  border-radius: 12px 0 0 12px;
}

#custom-reboot {
  border-radius: 0 12px 12px 0;
}

#custom-power:hover {
  background: rgba(68, 74, 87, 1);
}
#custom-quit:hover {
  background: rgba(68, 74, 87, 1);
}
#custom-lock:hover {
  background: rgba(68, 74, 87, 1);
}
#custom-reboot:hover {
  background: rgba(68, 74, 87, 1);
}
