/***
 *     _    _        __ _ 
 *    | |  | |      / _(_)
 *    | |  | | ___ | |_ _ 
 *    | |/\| |/ _ \|  _| |
 *    \  /\  / (_) | | | |
 *     \/  \/ \___/|_| |_|
 *                        
 * https://cloudninja.pw/docs/wofi.html 
 * https://man.archlinux.org/man/wofi.7.en */

#window {
  border-radius: 25px;
}

#outer-box {
  border-radius: 25px;
}

#input {
  border-radius: 25px;
}

#scroll {
  border-radius: 25px;
}

#inner-box {
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
}

#entry > expander #img {
  padding: 0px 10px 0px 10px;
}

#entry > :not(expander) #img {
  padding: 0px 10px 0px 25px;
}
