[Desktop Entry]
Name=Hermes Desktop
Exec=/home/wsiz01/.local/bin/hermes desktop
Icon=/home/wsiz01/.hermes/hermes-agent/website/static/img/logo.png
Type=Application
Categories=System
