[Desktop Entry]
Name=kDrive
Exec=/home/lpiz01/Programs/kDrive.AppImage
Icon=/home/lpiz01/.icons/applications/kDrive.png
Type=Application
Categories=System
