[Desktop Entry]
Name=Satisfactory-Mod-Manager
Exec=/home/wsiz01/Programs/Satisfactory-Mod-Manager.AppImage
Icon=/home/wsiz01/.icons/applications/smm.png
Type=Application
Categories=Game
